.addBannerTitle {
  font-size: 24px;
  font-weight: 500;
  color: gray;
  background: #f3f3f3;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 3px;
  margin-left: 20px;
}
.addProductFormContainer {
  width: 400px;
  margin-left: 20px;
}
.addBannerFieldStyle {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.addBannerFieldName {
  font-size: 18px;
  font-weight: 500;
}
.checkBoxNames {
  width: 200px;
}
.addProductBtn {
  background: #eb0a0a;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gray;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
  font-family: sans-serif;
}

.addBannerInputStyle {
  width: 180px;
}

/* style={{ width: "400px", marginLeft: "20px" }} */
