.dashboardTitle {
  background: #eb0a0a;
  text-align: center;
  width: fit-content;
  padding: 5px 20px;
  letter-spacing: 1px;
  margin: 20px 15px;
  border-radius: 4px;
  color: white;
}
.tablesMainContainer {
  display: flex;
  padding-bottom: 20px;
  justify-content: left;
}
.tableIndividualContainer {
  background-color: #f3f3f3;
  margin: 0px 30px;
  padding: 20px;
  border-radius: 3px;
  min-width: 200px;
  min-height: 200px;
}
.tableTitle {
  color: gray;
  font-size: 20px;
  text-align: center;
}
.tableHeaders {
  font-size: 18px;
  text-align: center;
  min-width: 150px;
}

.tableContents {
  padding: 5px;
  text-align: center;
  min-width: 150px;
}
