.homeLinksContainer {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeLink {
  background-color: #146eb4;
  padding: 2px 6px;
  color: white;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 2px solid #146eb4;
}
.logoutLink {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 2px solid #146eb4;
  padding: 2px 6px;
  border-left: none;
  cursor: pointer;
}
.backlink {
  padding: 2px 6px;
  font-size: 30px;
  /* color: #ef4667; */
  color: #eb0a0a;
}
