.title {
  background: #eb0a0a;
  font-size: 30px;
  margin: 0;
  color: #ffff;
  padding: 8px 0px;
  text-align: center;
  font-weight: 600;
}
.viewAllQuotesContainer {
  text-align: right;
  margin: 20px 20px  ;
}
.viewAllQuotes {
  text-decoration: none;
  color: #146eb4;
  font-weight: 500;
  /* border: 1px solid dodgerblue; */
  /* padding: 4px 8px; */
}
.logout {
  text-decoration: none;
  color: dodgerblue;
  padding: 4px 8px;
  border: 1px solid dodgerblue;
}
