.testimonialsHeadingRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px 0px;
    background: #eb0a0a;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.testimonialsHeadingRow p{
    width:130px;
    color: #ffff;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.testimonialsDetails{
    width:130px;
    overflow-wrap: anywhere;
}