.listQuoteTitle{
    font-size: 24px;
    font-weight: 500;
    color:#ffff;
    background: #eb0a0a;
    width: fit-content;
    padding:4px 8px;
    /* border-radius: 8px; */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* margin-left: 20px; */
}
.totalQuotations{
    font-size: 24px;
    font-weight: 500;
    color:#ffff;
    background:#eb0a0a;
    width: fit-content;
    padding:4px 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* margin-left: 20px; */
}
.listQuoteMainContainer{
    margin: 20px;
    padding:10px;
    border: 2px solid gray
}
.closeButton{
    background: none;
    border: none;
    width: fit-content;
    cursor:pointer;
    color: gray;
    border-radius: 50px;
    font-size: 35px;
}

.closeButton:active{
    background: none;
    border: none;
    width: fit-content;
    cursor:pointer;
    color: gray;
    border-radius: 50px;
}


.closeButtonContainer{

    text-align: right;
    
}

.viewDetails{
    background: transparent;
    border: 1px solid dodgerblue;
    padding: 4px 8px;
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}