.mainContainer {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background: #f3f3f3;
  min-height: 620px;
}
.welcomeTitle {
  background: #eb0a0a;
  font-size: 40px;
  margin: 0;
  color: #ffff;
  padding: 20px 0px;
  text-align: center;
  font-weight: 600;
}
.buttonDiv button {
  margin-top: 20px;
  background: #eb0a0a;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
}
.signUpBtn {
  text-decoration: none;
  color: #eb0a0a;
  font-weight: bold;
}
.userNamePassWord {
  font-weight: 600;
}
.userNamePassWordInput {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 8px;
}
.title1 {
  font-weight: 500;
  font-size: 25px;
}
.signInDiv {
  flex-direction: row;
  align-items: center;
}
.credentialsDiv {
  text-align: center;
  align-items: center;
}
